@import "tailwindcss";

.btn-blue {
  @apply px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white rounded;
}

.btn-blue-disabled {
  @apply px-4 py-2 bg-indigo-200 text-white rounded;
}

.btn-orange {
  @apply px-4 py-2 bg-orange-500 hover:bg-orange-600 text-white rounded;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 40%;
  height: fit-content;
  margin: auto;
  padding: 4%;
  background-color: white;
  color: rgb(43, 43, 43);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
